{#
SPDX-FileCopyrightText: Copyright (C) 2021-2026 Software Radio Systems Limited
SPDX-License-Identifier: BSD-3-Clause-Open-MPI
#}

// SPDX-FileCopyrightText: Copyright (C) 2021-2026 Software Radio Systems Limited
// SPDX-License-Identifier: BSD-3-Clause-Open-MPI
// Portions of this file may implement 3GPP specifications, which may be subject to additional licensing requirements.

#include "{{ schema.outputs.cli11_header | basename }}"
#include "{{ schema.outputs.header | basename }}"
#include "ocudu/support/cli11_utils.h"
{% for inc in schema.cli11_extra_includes %}
#include {{ inc }}
{% endfor %}

{% for ns in schema.namespace_parts %}
using namespace {{ ns }};
{% endfor %}

{% if schema.subcommands %}
{{ render_subcmd_fns() }}

{% endif %}
{% if schema.cli11_source_preamble %}
{{ schema.cli11_source_preamble | trim }}

{% endif %}
{{ render_top_level_fn() }}
{% if schema.cli11_source_extra %}

{{ schema.cli11_source_extra | trim }}
{% endif %}
